*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* browsers typically have a set font size of 16px, 62.5% of 16px is 10px 
    using a percentage allows the page to adpadt based on what the user has set 
*/
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* 
absolute positions itslef based on the parent element set to relative
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #666;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* determines when the back of a element is hidden or not, fix for shaky animations */
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--big {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 4rem;
  animation-name: moveInLeft;
  animation-duration: 2s; }

.heading-primary--sm {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2rem;
  animation: moveInRight 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-btm-bg {
  margin-bottom: 8rem !important; }

.u-margin-btm-md {
  margin-bottom: 4rem !important; }

.u-margin-btm-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-top-sm {
  margin-top: 3rem !important; }

.u-margin-top-md {
  margin-top: 6rem !important; }

.u-margin-top-bg {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.9);
  opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBtn ease-out 1s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #666; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after {
    background-color: #7ed56f; }

.btn-txt:link, .btn-txt:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all .2s; }

.btn-txt:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-txt:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }

.comp {
  position: relative; }
  .comp__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .comp__photo--p1 {
      top: -2rem;
      left: 0; }
    .comp__photo--p2 {
      top: 2rem;
      right: 0; }
    .comp__photo--p3 {
      top: 10rem;
      left: 20%; }
    .comp__photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .comp:hover .comp__photo:not(:hover) {
    transform: scale(0.85); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rbga(#000, 0.2);
  transition: transform .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-3rem) scale(1.1); }

.card {
  perspective: 150rem;
  position: relative;
  height: 500px; }
  .card__side {
    height: 500px;
    transition: all ease .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: #fff;
    width: 75%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #f7f7f7f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price--box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price--only {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .card__price--value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 5px;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(75%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video:content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  color: inherit;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 1s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #7ed56f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px; }
  .form__radio-btn::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7ed56f;
    opacity: 0;
    transition: opacity .5s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn:after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 70%;
    border-radius: 5px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgba(0, 0, 0, 0.4);
    -moz-hyphens: auto;
    -ms-hyphen: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    font-size: 4rem;
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    display: inline-block; }
  .popup__close:hover {
    color: #7ed56f; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 399;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 99;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.8s cubic-bezier(0.57, -0.36, 0.2, 1.33); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 299;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.57, -0.36, 0.2, 1.33); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .35rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .5s;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #28b485;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(120); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* 
    each coordinate has x y properties, in that order
    ORDER OF POINTS IN FUNCTION
    top-right, top-left, bottom-left, bottom-right  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.3rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #000;
    padding-top: 2rem;
    display: inline-block; }
  .footer__copyright {
    color: #f7f7f7f7;
    border-top: 1px solid #000;
    padding-top: 2rem;
    display: inline-block;
    width: 80%;
    float: right; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.4rem; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.section-about {
  background-color: #f7f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -8rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7f7;
  padding: 20rem 0;
  margin-top: -8rem; }

.section-stories {
  position: relative;
  padding: 10rem 0; }

.section-booking {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }
