//colors

$color-primary-light: #7ed56f;
$color-primary-med: #55c57a;
$color-primary-dark: #28b485;
$color-gray-dark: #666;

$color-white: #fff; 
$color-black: #000; 

$color-grey-light-1: #f7f7f7f7;
$color-grey-dark-1: #777;  
$color-gray-dark-2: #333;  

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-teirtary-light: #2998ff;
$color-teirtary-dark: #5643fa;


// fonts 

$default-font-size: 1.6rem;

// grid 
$grid-width: 114rem; 
$gutter-vertical: 8rem; 
$gutter-horizontal: 4rem; 

//shadow

$box-shadow: 0 1rem 2rem rgba($color-black,.2);